/* < di 420px */

@media screen and (max-width: 420px) {
    body, #why.container {
        background-color: #F2F2CD;
        margin: 0;
    }
    
    #steps .row {
        background-color: white;
        width: 100vh;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
    }
}