/* < di 420px */

@media screen and (max-width: 420px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
    }
    #lezioni .row, #steps .row, #why .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lezioni .row, #why .row {
        background-color: #F2F2CD;
    }

    #why .row > * {
        max-width: 60%;
    }
}