/* < di 420px */

@media screen and (max-width: 420px) {
    
    body {
        margin: 0;
    }
    #lezioni .row, #steps .row, #why .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lezioni .row, #why .row {
        background-color: #F2F2CD;
        margin-top: 0;
    }

    #why .row > * {
        max-width: 60%;
    }
}